@model WorkoutsDB.Models.Exercise

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    <h4>Exercise</h4>
    <hr />
    @Html.ValidationSummary()

    @Html.LabelFor(m => m.WorkoutName)
    @Html.EditorFor(m => m.WorkoutName)

    @Html.LabelFor(m => m.PrimaryMuscle)
    @Html.EditorFor(m => m.PrimaryMuscle)

    @Html.LabelFor(m => m.MuscleDescription)
    @Html.EditorFor(m => m.MuscleDescription)

    @Html.LabelFor(m => m.WorkoutDescription)
    @Html.EditorFor(m => m.WorkoutDescription)

    <input type="submit" value="Submit Changes" />

}

@Html.ActionLink("Back to List", "Index")